.main_faq{
    background-color: #f8f9fa;
}
.faq_block{
    width: 47%;
}
.faq_item{
    background-color: white;
    margin-bottom: 4%;
}
.question_item{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4%;
    cursor: pointer;
}
.question_item.icon_active i {
    transform: rotate(180deg);
}
.question_discription {
    padding: 4%;
    display: none;
}
.question_discription p {
    font-size: 16px;
    line-height: 2;
    margin-bottom: 10px;
    color: #707070;
}
.question_circle{
    border: 3px solid #f5b616;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.question_circle i {
    transition: .3s;
    
}
.faq_lables{
    margin-bottom: 8%;
}
.form_item{
    margin-bottom: 3%;
}
.form_item>input{
    width: 95%;
    padding: 3%;
    border: 1px solid rgb(197, 197, 197);
    outline: none;
}
.form_item>textarea{
    width: 95%;
    height: 160px;
    padding: 3%;
    resize: vertical;
    border: 1px solid rgb(197, 197, 197);
    outline: none;
}

.reviews {
    position: relative;
    z-index: 4;
    box-shadow: 0 3px 6px rgba(0, 0, 0, .16), 0 3px 6px rgba(0, 0, 0, .23);
}
.reviews .slick-dots {
    display: flex;
    align-items: center;
    justify-content: center;
}
.reviews .slick-dots li {
    margin: 20px 10px;
}
.reviews .slick-dots li button {
    font-size: 0;
    height: 15px;
    width: 15px;
    background-color: #838386;
    border: none;
    outline: none;
    transition: .4s;
    cursor: pointer;
}
.reviews .slick-dots li.slick-active button{
    background-color: #f5b316;
}
.reviews::after {
    content: " ";
    background-color: #f3f3f3;
    position: absolute;
    top: -20px;
    right: 40px;
    left: 40px;
    z-index: -2;
    height: 10px;
}

.reviews::before {
    content: " ";
    background-color: #e8e8e8;
    position: absolute;
    top: -10px;
    right: 20px;
    left: 20px;
    z-index: -1;
    height: 10px;
}

.review_item {
    padding: 1% 1%;
    text-align: center;
    line-height: 1.8;
    outline: none;
}

.review_item p {
    color: #707070;
}

.review_item>img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    object-position: top;
}

.review_item>p {
    margin: 3% 0;
}

.review_bottom>h4 {
    font-weight: 600;
}

.main_contacts {
    background-color: #f8f9fa;
}

