
.about_row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}
.dark_img{
    background-color: #f5f5f5;
    position: absolute;
    top: -18%;
    right: -12%;
    width: 50%;
    height: 100%;
    z-index: -1;
}

.about_text {
    position: relative;
    padding-bottom: 250px;
}
.about_row_tabs {
    position: absolute;
    bottom: 0;
    left: 0;
    transition: .4s;
    opacity: 0;
}
.about_row_tabs.active_tabs {
    
    opacity: 1;
}
.about_row_tabs p{
    color:#707070;
    line-height: 1.8;
}
.hl{
    width: 25%;
    height: 5px;
    background-color: #f5b616;
    margin: 20px 0;
}
.about_img{
    background-image: url('../../img/bcg/about.jpg');
    height: 400px;
    width: 70%;
    position: relative;
    right: -12%;
}
.tab_block{
    margin: 8% 0;
    line-height: 1.5;
}
.tab_block>ul{
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 30px;
    position: relative;
}
.tabs_a{
    color: black;
    font-weight: 600;
    padding: 17px 0px;
    transition: .3s;
}
.tabs_a.active_tabs {
    color: #f5b316;
}


.tab_block>ul::after {
    content: ' ';
    position: absolute;
    bottom: 0;
    height: 3px;
    width: 100%;
    background-color: #c6c6c6;
    z-index: -1;
}
.tab_block>ul li{
    width: calc(100% / 3 - 3%) ;
    padding: 20px 0;
    transition: .3s;
    border-bottom: 4px solid transparent;
}
.tab_block>ul li:hover {
    border-color: #f5b316;
}
.tab_block>ul li:hover a {
    color: #f5b316;
}
.about_btns{
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}
.section_tops{
    width: 50%;
}
.service_elem{
    text-align: center;
    width: calc(100% / 3 - 3%);
    border: 1px solid #c3c3c3;
    line-height: 2;
    padding: 3% 1%;
}
.service_img_f{
    width: auto;
    height: 55px;
    position: absolute;
    z-index: 3;
}
.service_img_b{
    position: absolute;
    z-index: 2;
    
}
.service_images{
    position: relative;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 4;
}
.service_line{
    margin: 20px 0;
}
.service_line>hr{
    width: 20%;
    transition: .3s;
}

.service_line>h4{
    font-size: 18px;
    font-weight: 500;
    transition: .5s;
}

.service_content{
    color: #707070;
}
.service_elem:hover .service_img_b{
    animation-name: yellow_rotate;
    animation-duration: 1s;
    /* animation-iteration-count: infinite;
    animation-direction: alternate; */
    animation-fill-mode: forwards;
}
.service_elem:hover hr{
    width: 30%;
}
.service_elem:hover h4{
    color: #f5b616;
}

@keyframes yellow_rotate{
    100%{
        transform: rotate(50deg);
    }
}