.main_projects{
    background-color: #f8f9fa;
}
.project_tabs{
    text-align: center;
    margin-bottom: 4%;
}
.project_tabs>button{
    color: black;
    font-weight: 700;
    font-size: 14px;
    border: none;
    background: none;
    outline: none;
    cursor: pointer;
    transition: .4s;
}
.project_tabs>button.active_tabs {
    color: #f5b316;;
}
.project_tabs>button:hover{
    color: #f5b616;
}
.addition_padding{
padding: 0 1.5%;
}
.project_elem{
    display: none;
    cursor: pointer;
    width: calc(100% / 4 - 3%);
    margin-bottom: 3%;
    height: 400px;
    position: relative;
    overflow: hidden;
    
}
.active_block {
    display: block;
}
.project_elem:hover .project_inner{
    transform: translateY(0%);
    opacity: 1;
}
.project_elem>img{
    width: 100%;
    height: 100%;
}
.project_inner{
    position: absolute;
    bottom: 5%;
    left: 5%;
    right: 5%;
    background: white;
    padding: 8%;
    text-align: center;
    transform: translateY(100%);
    opacity: 0;
    transition: .3s;
}
.project_inner>h3{
    font-weight: bold;
    font-size: 18px;
    
}
.project_inner>.hr{
    
    width: 30%;
    
    
}
.project_inner a.fa-search-plus{
    color: black;
    font-size: 22px;
    margin-left: 6%;
    transition: .4s;
}
.project_inner>p>a.fa-search-plus:hover{
    color: #f5b616;
}